

body{

    margin: 0;
    padding: 0;
    color: #495057;
    background-color: #f3f3f3;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Roboto",sans-serif;
    

   
}
.numberbadge{
    background: #3281f2;
    padding: 1px 7px;
    border-radius: 14px;
    margin-left: 43px;
    font-weight: bold;
   
}
.nb1{
    background-color: gold;
    margin-left: 32px;
}
.container{
    display: flex;
    flex-direction: row;
   
}

.topnav{
    height: 70px;
    
background-color: #3281f2;
    
display: flex;
    
justify-content: space-between;
    
position: fixed;
    
width: 100%;
    
z-index: 5;
    
align-items: center;
}
.navcontent{
  

  

}
 .logo{
 
    display: flex;
    justify-content: center;
    width: 90px;
    height: 70px;
    
    
   
}

.topnav  img{
    
height: 18px;
    
margin-left: 2em;
    
display: flex;
}
.rightnav{
    display: flex;
    margin: 0px 10px;
    align-items: center;
    justify-content: space-around;
}
.searchcontainer{
   
}
.searchcontainer button{
    background-color: transparent;
    border-color: transparent;
}
.searchcontainer i{
    color: white;
    

}
.languagecontainer{
    margin-right: 1em;
    position: relative;
   
}

.languagecontainer img{
    /* height: 16px; */
    padding-right: 8px;
}

.languagecontainer button{
    background-color: transparent;
    border-style:
    none;
    display: flex;
}
.languagecontainer span{
    color: white;
    font-weight: bold;
    padding-right: 7px;
    letter-spacing: 1px;
}
.languagecontainer i{
   color: white;
   
}
.bellicon {
    
}
.bellicon i{
    color: aliceblue;
}




.main{
    width: 100%;
    margin-left: 256px;
    margin-top: 50px;
    padding: 20px;
    
}


.sidenav{

top: 70px;
position: fixed;
    width: 150px;
    bottom: 0;
      background-color: white;
      width: 256px;
      position: fixed;
      
   
    
  }

  .sidenav .title1{
    padding: 12px 14px;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: 12px;
    text-transform: uppercase;
    color: #747a80;
    font-weight: 700;
}
     
  
  
  .sidenav ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: -39px;
      padding: padding-right;
      /* padding-left: 60px; */
      width: 100%;
  }
  
      
  
  .sidenav li a{
     text-decoration: none;
     text-transform: capitalize;
     display: flex;
     display: block;
     white-space: nowrap;
     padding: 17px 23px;
  }
.dash {
      color: #0c1c32;
      
  }
  .sidenav li span{
    padding: 0px 42px 2px 15px;
      color: #747a80;
      font-size: 14.5px;
   
  }
  .sidenav li{
      display: flex;
      align-items: center;
      
  }
  .sidenav li a i{
    display: inline-block;
    min-width: 1rem;
    padding-bottom: 0.125em;
    font-size: 11px;
    line-height: 1.40625rem;
  }
  
  
  .dashboardicon{
      color: #3281f2;
  }
  .sidenav li i{
      font-size: 12px;
      color: #747a80;
  }
  .sidenav li i.icon{
      font-size: 20px;
   
      
      
  
  }
  
  .row{
    display: flex;
    justify-content: space-between;
    /* box-sizing: border-box; */
  }


  .rowcontent{
    display: flex;
    justify-content: space-between;
  margin-left: 20px;
    font-family: "Roboto",sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #747a80;
    /* text-align: left; */
    background-color: #f3f3f3;
  }
  .leftrow{
    position: absolute;
    display: flex;
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #747a80;
    /* text-align: left; */
    background-color: #f3f3f3;
    
 left: 900px;
  }
  .row1{
    display: flex;
   

  }
  .lurid{
    font-size: 17.5px;
    font-weight: 400;
    
    word-spacing: 10px;
    margin-right: 23px;
  }
  .dashboardtitle{

    body{
    
        margin: 0;
        padding: 0;
        color: #495057;
        background-color: #f3f3f3;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        font-family: "Roboto",sans-serif;
        
    
       
    }
    .container{
        display: flex;
        flex-direction: row;
       
    }
    
    .topnav{
        height: 70px;
        
    background-color: #3281f2;
        
    display: flex;
        
    justify-content: space-between;
        
    position: fixed;
        
    width: 100%;
        
    z-index: 5;
        
    align-items: center;
    }
    .navcontent{
      
    
      
    
    }
     .logo{
     
        display: flex;
        justify-content: center;
        width: 90px;
        height: 70px;
        
        
       
    }
    
    .topnav  img{
        
    height: 18px;
        
    margin-left: 2em;
        
    display: flex;
    }
    .rightnav{
        display: flex;
        margin: 0px 10px;
        align-items: center;
        justify-content: space-around;
    }
    .searchcontainer{
       
    }
    .searchcontainer button{
        background-color: transparent;
        border-color: transparent;
    }
    .searchcontainer i{
        color: white;
        
    
    }
    .languagecontainer{
        margin-right: 1em;
        position: relative;
       
    }
    
    .languagecontainer img{
        height: 16px;
        padding-right: 8px;
    }
    
    .languagecontainer button{
        background-color: transparent;
        border-style:
        none;
        display: flex;
    }
    .languagecontainer span{
        color: white;
        font-weight: bold;
        padding-right: 11px;
    }
    .languagecontainer i{
       color: white;
       
    }
    .bellicon {
        
    }
    .bellicon i{
        color: aliceblue;
    }
    
    
    
    
    .main{
        width: 100%;
        margin-left: 256px;
        margin-top: 50px;
        padding: 20px;
        
    }
    
    
    .sidenav{
    
    top: 70px;
    position: fixed;
        width: 150px;
        bottom: 0;
          background-color: white;
          width: 256px;
          position: fixed;
          
       
        
      }
    
      .sidenav .title1{
        padding: 12px 14px;
        letter-spacing: .05em;
        pointer-events: none;
        cursor: default;
        font-size: 12px;
        text-transform: uppercase;
        color: #747a80;
        font-weight: 700;
    }
         
      
      
      .sidenav ul{
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: -39px;
          padding: padding-right;
          /* padding-left: 60px; */
          width: 100%;
      }
      
          
      
      .sidenav li a{
         text-decoration: none;
         text-transform: capitalize;
         display: flex;
         display: block;
         white-space: nowrap;
         padding: 17px 23px;
      }
    .dash {
          color: #0c1c32;
          
      }
      .sidenav li span{
        padding: 0px 42px 2px 15px;
          color: #747a80;
          font-size: 14.5px;
       
      }
      .sidenav li{
          display: flex;
          align-items: center;
          
      }
      .sidenav li a i{
        display: inline-block;
        min-width: 1rem;
        padding-bottom: 0.125em;
        font-size: 11px;
        line-height: 1.40625rem;
      }
      
      
      .dashboardicon{
          color: #3281f2;
      }
      .sidenav li i{
          font-size: 12px;
          color: #747a80;
      }
      .sidenav li i.icon{
          font-size: 20px;
       
          
          
      
      }
      
      .row{
        display: flex;
        justify-content: space-between;
        /* box-sizing: border-box; */
      }
    
    
      .rowcontent{
        display: flex;
        justify-content: space-between;
      margin-left: 20px;
        font-family: "Roboto",sans-serif;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #747a80;
        /* text-align: left; */
        background-color: #f3f3f3;
      }
      .leftrow{
        position: absolute;
        display: flex;
        margin: 0;
        font-family: "Roboto",sans-serif;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #747a80;
        /* text-align: left; */
        background-color: #f3f3f3;
        
     left: 900px;
      }
      .row1{
        display: flex;
       
    
      }
      .lurid{
        font-size: 17.5px;
        font-weight: 400;
        
        word-spacing: 10px;
        margin-right: 23px;
      }
      .dashboardtitle{
        font-size: 18px;
        font-weight: 600;
      }
      .user3{
        max-width: 60px;
        height: 50px;
        border-radius: 20px;
        padding-right: 4px;
      }
      .card{
        position: relative;
        background-color: white;
        background-color: white;
        border: 0 solid #e9ecef;
        border-radius: 0.125rem;
        margin-right: 40px;
        margin-bottom: 48px;
        flex-grow: 3;
        font-family: "Roboto",sans-serif;
       
       
        
      }
      .line{
        position: absolute;
        left: 2px;
        font-size: 27px;
        color: #3281f2;
        top: 14px;
      }
      .line2{
        top: 19px;
    
      }
      .line3{
        position: absolute;
        left: -25px;
        top: -4px;
      }
      .heading{
        position: relative;
      }
     
      .card-body{
        display: flex;
        flex-direction: column;
        font-family: "Roboto",sans-serif;
        padding: 20px;
        margin-bottom: -23px;
    
        
      }
      .card .daily a{
        background-color: #3281f2;
       
       display: flex;
       color: #3281f2;
        background-color: rgba(50,129,242,0.18);
    
      
       
    }
    .badge {
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
    }
    .daily a{
        padding: 2px 6px;
     
    
    }
    .cardtop{
        
        display: flex;
       justify-content: space-between;
        
        /* padding: 0px; */
        
       
        
    
    }
    .cardmid{
        display:flex;
        justify-content: space-between;
        
        
    }
    .cardmid .percent span{
        font-size: 18px;
         font-family: "Roboto",sans-serif;
    
        
    }
    .cardmid .price span{
        font-size: 35px;
        word-spacing: 1.2px;
        font-family: "Roboto",sans-serif;
        
        
    }
    .cardmid .price{
        margin-top: 1.5rem;
        padding-bottom: 20px;
    }
    .percent{
        display: flex;
        flex-direction: column;
        margin-top: 0.5em;
       
        justify-content: space-around;
        
    }
    .percent i{
        color: #3281f2;
        font-size: 14px;
        padding-left: 2em;
        font-weight: lighter;
    }
    .progressbar{
        height: 18px;
        /* width: 197px; */
        margin-top: 11px;
    }
    .price2{
        width: 75px;
        
    }
    .badge1{
        left: 120px;
    
    }
    
    
    
    
    .cardinfo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .cardinfo h2{
        font-size: 22px;
        margin-left: 10px;
    }
    .cardinfo p{
      
        font-size: 16px;
    }
    .portion1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portion2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    /*.cardbody{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }*/
    
    .cardbody img{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .imagediv{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 334px;
    
    }
    .title h4{
        color: #495057;
        font-family: "Roboto",sans-serif;
        font-size:19px;
        margin-left: 1.5em;
        font-weight: lighter;
    }
    .title i{
        padding: 10px;
    }
    
    
    .title{
        display: flex;
        /* flex-direction: row; */
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    .table{
    
        padding: 20px;
      
       
       
        overflow: auto;
    }
    
    
    .row3{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        /* justify-content: center; */
    }
    .tablediv{
       width: 50%;
      
       margin-left: 20px;
      
       background-color: white;
       /* padding: 10px; */
       min-height: 1px;
       border-radius: 1px;
       padding-left: 0px;
       
       background-color: white;
      
       min-height: 1px;
       border-radius: 1px;
    }
    .scroll{
        overflow-x: auto;
        
        
       
      
      
    
    }
    .table th,td{
       padding: 15px;
       text-align: left;
       
    
       
    }
    .user{
        white-space: nowrap;
    }
    .user{
        align-items: center;
        display: flex;
        
    }
    .user img{
       max-width: 40px;
        border-radius: 20px;
        padding-right: 4px;
    }
    .location{
        white-space: nowrap;
    }
    .tab2{
        background-color: #f8f9fa;
        
       
       
      
    }
    .table .tab1{
        background-color: white;
        border: 1px solid #010101;
    }
    h4 .title{
        font-size: 1rem;
    
    }
    .subtitle{
        font-size: 15px;
        margin-top: -18px;
    }
    .heading{
        margin-left: 25px;
    }
    
    .table h5{
        font-weight: 400;
        margin-bottom: 0.5px;
    }
    .table span{
        color: #6c757d;
        font-size: 13px;
    }
    .tb2{
        width: 40%;
    }
    row
    
    .conatinerall{
        display: flex;
        flex-direction: column;
    }
    .row{
        /* position: absolute; */
        /* top: 70px; */
        /* margin-top: 70px; */
        width: 100%;
    }
    .tb2{
        width: 45%;
    }
    .visa{
        padding-bottom: 8px;
    }
    .vh{
        font-size: 13px;
    }
    .tb2 table{
        width: 100%;
    }
    .tb2 tr:hover{
        background: #f8f9fa;
    }
    
    
    .dropdown-content{
        position: absolute;
        display: flex;
        flex-direction: column;
        background: white;
        display: none;
        padding: 1px;
        top: 46px;
        width: 180px;
        right: 0;
    }
    
    .dropdown-content a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 16px;
     
    }
    .languagecontainer:hover{
       
    }
    
    .bar i{
        display: none;
        color: white;
      }
      .sidenav{
        
      }
    
      .droplist1{
      display: flex;
     justify-content: center;
        color: #747a80;
        font-size: 16.5px;
        margin-top: -22px;
        
        
       
        
       
      }
      .droplist1{
        display: none;
      }
      .droplist li{
        padding: 0;
       margin-top: 20px;
       margin-left: 32px;
        }
      
    @media only screen and (max-width:1500px) {
        .main{
            padding: 30px;
        }
        .card{
            width: 250px;
        }
      .row1{
        flex-wrap: wrap;
    
       
      }
      .row3{
        width: 100%;
        flex-wrap: wrap;
      }
      
    }
    @media only screen and (max-width:1100px) {
        .card{
            width: auto;
        }
        .row1{
            flex-wrap: wrap;
        }
        .row3{
            flex-wrap: wrap;
            width: 100%;
        }
        .sidenav{
           display: none;
        }
        .main{
            margin-left:0px;
        }
        .topnav i{
            position: relative;
        }
        .bar i{
            display: block;
            position: absolute;
            font: 20px;
            left: 140px;
            top: 24px;
        }
        .sidenav{
            z-index: 5;
             }
    
    
    }
    
    
    @media only screen and (max-width:900px) {
        .row1{
            flex-wrap: wrap;
        }
        .row3{
            flex-wrap: wrap;
            width: 100%;
        }
        .sidenav{
           
        }
        .main{
            margin-left: 0px;
        }
        .tablediv{
            width: 100%;
        }
        .table{
            width: 100%;
        }
       .sidenav{
      z-index: 5;
       }
       
    
    }
    
    
    font-size: 18px;
    font-weight: 600;
  }
  .user3{
    max-width: 60px;
    height: 50px;
    border-radius: 20px;
    padding-right: 4px;
  }
  .card{
    position: relative;
    background-color: white;
    background-color: white;
    border: 0 solid #e9ecef;
    border-radius: 0.125rem;
    margin-right: 40px;
    margin-bottom: 48px;
    flex-grow: 3;
    font-family: "Roboto",sans-serif;
   
   
    
  }
  .line{
    position: absolute;
    left: 2px;
    font-size: 27px;
    color: #3281f2;
    top: 14px;
  }
  .line2{
    top: 19px;

  }
  .line3{
    position: absolute;
    left: -25px;
    top: -4px;
  }
  .heading{
    position: relative;
  }
 
  .card-body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto",sans-serif;
    padding: 20px;
    margin-bottom: -23px;

    
  }
  .card .daily a{
    background-color: #3281f2;
   
   display: flex;
   color: #3281f2;
    background-color: rgba(50,129,242,0.18);

  
   
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}
.daily a{
    padding: 2px 6px;
 

}
.cardtop{
    
    display: flex;
   justify-content: space-between;
    
    /* padding: 0px; */
    
   
    

}
.dc1{
  
}
.user .dc1 a{
    font-size: 18px;
    margin: 10px;
}
.cardmid{
    display:flex;
    justify-content: space-between;
    
    
}
.cardmid .percent span{
    font-size: 18px;
     font-family: "Roboto",sans-serif;

    
}
.cardmid .price span{
    font-size: 35px;
    word-spacing: 1.2px;
    font-family: "Roboto",sans-serif;
    
    
}
.cardmid .price{
    margin-top: 1.5rem;
    padding-bottom: 20px;
}
.percent{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
   
    justify-content: space-around;
    
}
.percent i{
    color: #3281f2;
    font-size: 14px;
    padding-left: 2em;
    font-weight: lighter;
}
.progressbar{
    height: 18px;
    /* width: 197px; */
    margin-top: 11px;
}
.price2{
    width: 75px;
    
}
.badge1{
    left: 120px;

}




.cardinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.cardinfo h2{
    font-size: 22px;
    margin-left: 10px;
}
.cardinfo p{
  
    font-size: 16px;
}
.portion1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portion2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*.cardbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/

.cardbody img{
    display: flex;
    align-items: center;
    width: 100%;
}
.imagediv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 334px;

}
.title h4{
    color: #495057;
    font-family: "Roboto",sans-serif;
    font-size:19px;
    margin-left: 1.5em;
    font-weight: lighter;
}
.title i{
    padding: 10px;
}


.title{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.table{

    padding: 20px;
  
   
   
    overflow: auto;
}


.row3{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    /* justify-content: center; */
}
.tablediv{
   width: 50%;
  
   margin-left: 20px;
  
   background-color: white;
   /* padding: 10px; */
   min-height: 1px;
   border-radius: 1px;
   padding-left: 0px;
   
   background-color: white;
  
   min-height: 1px;
   border-radius: 1px;
}
.scroll{
    overflow-x: auto;
    
    
   
  
  

}
.table th,td{
   padding: 15px;
   text-align: left;
   

   
}
.user{
    white-space: nowrap;
}
.user{
    align-items: center;
    display: flex;
    
}
.user img{
   max-width: 40px;
    border-radius: 20px;
    padding-right: 4px;
}
.location{
    white-space: nowrap;
}
.tab2{
    background-color: #f8f9fa;
    
   
   
  
}
.table .tab1{
    background-color: white;
    border: 1px solid #010101;
}
h4 .title{
    font-size: 1rem;

}
.subtitle{
    font-size: 15px;
    margin-top: -18px;
}
.heading{
    margin-left: 25px;
}

.table h5{
    font-weight: 400;
    margin-bottom: 0.5px;
}
.table span{
    color: #6c757d;
    font-size: 13px;
}
.tb2{
    width: 40%;
}
row

.conatinerall{
    display: flex;
    flex-direction: column;
}
.row{
    /* position: absolute; */
    /* top: 70px; */
    /* margin-top: 70px; */
    width: 100%;
}
.tb2{
    width: 45%;
}
.visa{
    padding-bottom: 8px;
}
.vh{
    font-size: 13px;
}
.tb2 table{
    width: 100%;
}
.tb2 tr:hover{
    background: #f8f9fa;
}


.dropdown-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    display: none;
    padding: 1px;
    top: 46px;
    width: 180px;
    right: 0;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
 
}
.languagecontainer:hover{
   
}

.bar i{
    display: none;
    color: white;
  }
  .sidenav{
    
  }

  .droplist1{
  display: flex;
 justify-content: center;
    color: #747a80;
    font-size: 16.5px;
    margin-top: -22px;
    
    
   
    
   
  }
  .droplist1{
    display: none;
  }
  .droplist li{
    padding: 0;
   margin-top: 20px;
   margin-left: 32px;
    }
  
@media only screen and (max-width:1500px) {
    .main{
        padding: 30px;
    }
    .card{
        width: 250px;
    }
  .row1{
    flex-wrap: wrap;

   
  }
  .row3{
    width: 100%;
    flex-wrap: wrap;
  }
  
}
@media only screen and (max-width:1100px) {
    .card{
        width: auto;
    }
    .row1{
        flex-wrap: wrap;
    }
    .row3{
        flex-wrap: wrap;
        width: 100%;
    }
    .sidenav{
       display: none;
    }
    .main{
        margin-left:0px;
    }
    .topnav i{
        position: relative;
    }
    .bar i{
        display: block;
        position: absolute;
        font: 20px;
        left: 140px;
        top: 24px;
    }
    .sidenav{
        z-index: 5;
         }


}


@media only screen and (max-width:900px) {
    .row1{
        flex-wrap: wrap;
    }
    .row3{
        flex-wrap: wrap;
        width: 100%;
    }
    .sidenav{
       
    }
    .main{
        margin-left: 0px;
    }
    .tablediv{
        width: 100%;
    }
    .table{
        width: 100%;
    }
   .sidenav{
  z-index: 5;
   }
   

}

